/* Global Styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  background-color: #7e7e81;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-weight: 700;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
}

p {
  text-transform: none;
  color: rgb(255, 255, 255);
  width: 100%;
  display: block;
  text-align: left;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
}

.secao {
  padding: 7.63rem 2rem;
}

.container {
  max-width: 100rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.botao {
  position: absolute;
  padding: 1.5rem 8rem;
  font-size: 2rem;
  background: #ff0f0f;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  list-style: none;
  margin: 0 auto;
}

.botao:hover {
  transition: 0.5s;
  background-color: #ff0f0f;
  color: rgb(255, 255, 255);
  transform: translateY(-0.5rem);
}

/* Cabeçalho Styles */

.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: white;
  padding: 1.6rem 3.12rem;
  box-shadow: 0 0.21rem 0.4rem rgba(0, 0, 0, 0.1);
}

.cabecalho span {
  text-transform: uppercase;
  text-decoration: true;
  font-weight: 700;
}

.cabecalho img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.nome-perfil {
  position: absolute;
  left: 10rem;
}

nav {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
}

.item-lista-cabecalho {
  margin-right: 20px;
}

.item-lista-cabecalho {
  background-color: #e2e2e2;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 1rem;
}

.item-lista-cabecalho:hover,
.item-lista-cabecalho:active {
  transition: 0.5s;
  background-color: #ff0f0f;
  color: rgb(255, 255, 255);
  font-weight: 700;
  transform: translateY(-0.5rem);
}

/* INICIO Styles */

.inicio {
  position: relative;
}

.social-inicio {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 0.5rem;
}

.social-inicio img {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: block;
  box-sizing: content-box;
  width: 3rem;
}

.apresentacao h1 {
  width: 50%;
  margin: 0 auto;
}

/* FIXADO Styles */
.logo-whatsapp {
  position: fixed;
  right: 1rem;
  bottom: 0.8rem;
  width: 8.5rem;
  transition: 0.8s;
  color: white;
}

.logo-whatsapp:hover {
  transform: translatey(-0.5rem);
}

img {
  width: 5rem;
}

/* Seção "inicio" */
.inicio {
  height: 600px;
  background-image: url(horizont.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo h2 {
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  color: #000000;
}

.titulo p {
  display: block;
  text-align: center;
  color: #434343;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
  margin-bottom: 4rem;
}

.twhite h2,
.twhite p {
  color: #ffffff;
}

.titulo2 p {
  display: block;
  color: #434343;
  font-size: 2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.titulo2 {
  display: inline-block;
  font-size: 1.17em;
  font-weight: bold;
}

.titulo2 h3 {
  color: #000000;
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.habilidades {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: #919191;
  border-radius: 5px;
  font-weight: 600;
  color: #ffffff;
}

.projeto_rows img {
  width: 50%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  margin-bottom: 11rem;
}

.botao-formulario {
  cursor: pointer;
}

.social-inicio :hover {
  transition: 0.5s;
  background-color: #ff0f0f;
  color: white;
}

.social-inicio a {
  width: 100%;
  display: block;
  padding: 1rem;
  border-radius: 5px;
}

/* Seção "sobre" */
.sobre {
  background-color: #d1d1d1;
}

/* Seção "projetos" */
.projetos {
  background-color: #e2e2e2;
}

/* Seção "contato" */
.contato {
  height: 1000px;
  background-image: url(horizont.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Rodapé Styles */
.rodape {
  background-color: #151515;
}

.rodape h2 {
  display: inline-block;
  color: rgb(252, 252, 252);
  text-align: left;
}

.rodape p {
  display: block;
  text-align: left;
}

.formulario {
  position: relative;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.828) 0 7px 29px 0;
  background: #fff;
  padding: 4rem;
  padding-bottom: 15rem;
  margin-top: 6rem;
  max-width: 80rem;
  text-align: left;
  width: 95%;
  border-radius: 5px;
  margin: 5rem auto 0 auto;
}

.formulario label {
  color: #666;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 1rem;
  display: block;
  text-align: left;
}

.formulario input,
.contact__form-input {
  color: #333;
  padding: 2rem;
  width: 100%;
  border: 1px solid #ebebeb;
  font-size: 1.6rem;
  letter-spacing: 0;
  background: #f0f0f0;
  border-radius: 5px;
  font-weight: 600;
}

textarea {
  resize: none;
}

.campo_texto {
  width: auto;
  height: 25rem;
}

.botao-formulario {
  position: absolute;
  display: block;
  bottom: 10%;
  right: 0;
}

.apresentacao-rodape {
  display: inline;
}

.apresentacao-rodape h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.apresentacao-rodape p {
  margin-top: 2rem;
  color: #eee;
  font-size: 1.5rem;
  line-height: 1.7;
}

.social {
  display: inline;
}

.social-rodape {
  display: inline-block;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1.6rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}
